* {
	margin: 0;
}

Link {
	text-decoration: none;
}

h1 {
	font-family: Comfortaa;
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	line-height: 40px;
	display: flex;
	align-items: center;
	padding: 16px 0px 32px 20px;
	color: #000000;
}

footer {
	display: flex;
	position: fixed;
	width: 375px;
	height: 63px;
	left: 0px;
	bottom: 0px;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	border-top: black;
	border-width: 2px;
	background: #ffffff;
	box-shadow: 0px -0.5px 0px rgba(0, 0, 0, 0.3);
}

.iconWrapper {
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	color: #5a5a5a;
}
.active {
	color: black;
}
